#footer-content{
    padding: 60px 20px;
    background-color: black;
    color: white;
    
}
.footer-title ul{
    list-style-type: none;
    padding: 0;
}
.footer-title h4{
    font-weight: 700;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
}